.maincard
  .main__body--username
    = message.user.name
  .main__body--commenttime
    = message.created_at.strftime('%Y/%m/%d %H:%M')
  .main__body--comment
    - if message.body.present?
      %p.lower-message__content
        = message.body
      %p.lower-message__content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

