!!! 5
%html
  %body
    = render partial: 'messages/side'
    .main
      .main__nav
        .main__nav--groupname
          serect-groupname
        = link_to "EDIT", "/", class: 'main__nav--edit'
        .main__nav--username
          groupnames
      .main__body
        = render @messages
      .main__form
        =form_for [@group, @message] do |f|
          %input{type: 'text', placeholder: 'type a message', class: 'main__form--comment'}
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input{type: "file", id: "upload-icon" }
          = link_to "Send", "/", class: 'main__form--icon'
